# <center>ASSIGNMENT</center>
# <center><B>INTRODUCTION TO COMPUTING USING PYTHON</B></center>
________
## NITISH VELU
## PES1UG19CS551

______

In [1]:
import pandas as pd
df=pd.read_excel('empl.xlsx')
df

,Emp ID,Name Prefix,First Name,Gender,E Mail,Unnamed: 5,Unnamed: 6,Date of Birth,Age in Yrs.,Weight in Kgs.,...,Month of Joining,Month Name of Joining,Day of Joining,Salary,Last % Hike,County,City,State,Zip,Region
0,677509,Drs.,Lois,F,lois.walker@hotmail.com,NaN,NaN,3/29/1981,36.36,60,...,11,November,24,168251,0.21,Denver,Denver,CO,80224,West
1,940761,Ms.,Brenda,F,brenda.robinson@gmail.com,NaN,NaN,7/31/1970,47.02,60,...,7,July,27,51063,0.27,De Soto,Stonewall,LA,71078,South
2,428945,Dr.,Joe,M,joe.robinson@gmail.com,NaN,NaN,6/16/1963,54.15,68,...,8,August,3,50155,0.16,Clinton,Michigantown,IN,46057,Midwest
3,408351,Drs.,Diane,F,diane.evans@yahoo.com,NaN,NaN,1977-04-12 00:00:00,39.67,51,...,4,April,16,180294,0.01,Crawford,Hydetown,PA,16328,Northeast
4,193819,Mr.,Benjamin,M,benjamin.russell@charter.net,NaN,NaN,4/17/1977,40.31,58,...,7,July,25,117642,0.13,Waupaca,Fremont,WI,54940,Midwest
5,499687,Mr.,Patrick,M,patrick.bailey@aol.com,NaN,NaN,9/27/1982,34.86,58,...,7,July,22,72305,0.05,Madison,Macksburg,IA,50155,Midwest
6,539712,Ms.,Nancy,F,nancy.baker@bp.com,NaN,NaN,6/13/1995,22.14,50,...,9,September,14,98189,0.00,Fulton,Atlanta,GA,30334,South
7,380086,Mrs.,Carol,F,carol.murphy@gmail.com,NaN,NaN,6/30/1958,59.12,40,...,1,January,28,60918,0.20,Clinton,Blanchester,OH,45107,Midwest
8,477616,Hon.,Frances,F,frances.young@gmail.com,NaN,NaN,1959-09-06 00:00:00,58.18,42,...,4,April,27,121587,0.28,Starr,Delmita,TX,78536,South
9,162402,Hon.,Diana,F,diana.peterson@hotmail.co.uk,NaN,NaN,11/13/1987,29.73,60,...,2,February,17,43010,0.04,Carroll,Eureka Springs,AR,72632,South
10,231469,Mr.,Ralph,M,ralph.flores@yahoo.com,NaN,NaN,1975-05-02 00:00:00,42.50,80,...,4,April,14,118457,0.08,Nemaha,Sabetha,KS,66534,Midwest
11,153989,Prof.,Jack,M,jack.alexander@gmail.com,NaN,NaN,5/19/1995,22.21,61,...,1,January,5,82965,0.23,Clark,Las Vegas,NV,89170,West
12,386158,Mrs.,Melissa,F,melissa.king@comcast.net,NaN,NaN,2/24/1972,45.45,55,...,11,November,24,166892,0.01,Washington,New Matamoras,OH,45767,Midwest
13,301576,Hon.,Wayne,M,wayne.watson@gmail.com,NaN,NaN,6/26/1996,21.10,87,...,7,July,19,92758,0.14,Cavalier,Maida,ND,58255,Midwest
14,441771,Mrs.,Cheryl,F,cheryl.scott@gmail.com,NaN,NaN,2/23/1958,59.47,47,...,11,November,26,92220,0.12,Somerset,Quecreek,PA,15555,Northeast
15,528509,Hon.,Paula,F,paula.diaz@gmail.com,NaN,NaN,8/22/1966,50.97,42,...,8,August,22,152654,0.08,Duplin,Beulaville,NC,28518,South
16,912990,Mr.,Joshua,M,joshua.stewart@yahoo.ca,NaN,NaN,5/18/1970,47.23,68,...,9,September,2,184896,0.01,Madison,New Douglas,IL,62074,Midwest
17,214352,Ms.,Theresa,F,theresa.lee@gmail.com,NaN,NaN,1992-05-12 00:00:00,24.66,59,...,1,January,19,197537,0.01,Mitchell,Toeterville,IA,50481,Midwest
18,890290,Hon.,Julia,F,julia.scott@apple.com,NaN,NaN,7/15/1959,58.08,56,...,2,February,23,141518,0.03,Hickman,Primm Springs,TN,38476,South
19,622406,Mr.,Thomas,M,thomas.lewis@gmail.com,NaN,NaN,1967-04-10 00:00:00,49.85,73,...,6,June,7,73862,0.03,Cape Girardeau,Dutchtown,MO,63745,Midwest
20,979607,Ms.,Carol,F,carol.edwards@msn.com,NaN,NaN,12/14/1994,22.64,56,...,4,April,25,93967,0.30,Caddo,Shreveport,LA,71162,South
21,969580,Prof.,Matthew,M,matthew.turner@gmail.com,NaN,NaN,10/26/1993,23.77,56,...,2,February,7,52237,0.09,Northumberland,Heathsville,VA,22473,South
22,426038,Hon.,Joan,F,joan.stewart@yahoo.com,NaN,NaN,11/20/1972,44.72,56,...,12,December,30,111673,0.12,Meigs,Middleport,OH,45760,Midwest
23,388642,Mrs.,Ruby,F,ruby.rogers@gmail.com,NaN,NaN,1980-01-05 00:00:00,37.27,59,...,8,August,30,160623,0.09,Cannon,Woodbury,TN,37190,South
24,560455,Ms.,Carolyn,F,carolyn.hayes@hotmail.co.uk,NaN,NaN,1958-10-03 00:00:00,59.42,53,...,7,July,3,42005,0.14,Osceola,Saint Cloud,FL,34771,South
25,477253,Mrs.,Anne,F,anne.russell@ibm.com,NaN,NaN,7/29/1989,28.02,60,...,11,November,24,103160,0.29,Grant,Stockholm,SD,57264,Midwest
26,263480,Hon.,Daniel,M,daniel.cooper@yahoo.com,NaN,NaN,1990-01-01 00:00:00,27.59,60,...,3,March,6,153790,0.13,Dunn,Manning,ND,58642,Midwest
27,683826,Mr.,Roger,M,roger.roberts@gmail.com,NaN,NaN,1969-07-07 00:00:00,48.09,77,...,1,January,29,129625,0.12,Skagit,Mount Vernon,WA,98273,West
28,474599,Drs.,Maria,F,maria.walker@microsoft.com,NaN,NaN,3/19/1975,42.39,41,...,10,October,1,48944,0.21,Lawrence,Lawrenceburg,TN,38464,South
29,335732,Ms.,Brenda,F,brenda.butler@gmail.com,NaN,NaN,1963-06-12 00:00:00,53.68,41,...,8,August,20,60508,0.29,Maricopa,Mesa,AZ,85208,West
30,329752,Hon.,Lillian,F,lillian.brown@aol.com,NaN,NaN,1981-12-05 00:00:00,36.24,49,...,4,April,13,67251,0.22,Wakulla,Panacea,FL,32346,South
31,893212,Ms.,Amy,F,amy.howard@aol.com,NaN,NaN,6/16/1981,36.14,52,...,6,June,1,112715,0.30,Kline,Kline,SC,29814,South
32,621833,Mr.,Gregory,M,gregory.edwards@outlook.com,NaN,NaN,8/31/1993,23.92,64,...,9,September,30,169245,0.22,Klamath,Bonanza,OR,97623,West
33,456747,Mr.,Roy,M,roy.griffin@yahoo.com,NaN,NaN,1991-08-05 00:00:00,26.24,62,...,8,August,23,170895,0.19,Union,Liberty,IN,47353,Midwest
34,278556,Prof.,Richard,M,richard.mitchell@verizon.net,NaN,NaN,7/28/1993,24.02,81,...,8,August,18,122226,0.14,Calhoun,Ohatchee,AL,36271,South
35,333476,Hon.,Mary,F,mary.wilson@sbcglobal.net,NaN,NaN,1967-01-12 00:00:00,49.69,54,...,12,December,22,109394,0.16,Davidson,Nashville,TN,37219,South
36,218791,Mr.,Aaron,M,aaron.price@bp.com,NaN,NaN,1969-10-02 00:00:00,48.49,56,...,7,July,3,54402,0.00,Crawford,Eckerty,IN,47116,Midwest
37,134841,Ms.,Donna,F,donna.brown@aol.com,NaN,NaN,9/14/1983,33.89,57,...,7,July,17,129836,0.08,Livingston,Lima,NY,14485,Northeast
38,726264,Hon.,Carl,M,carl.collins@yahoo.com,NaN,NaN,12/22/1973,43.63,90,...,6,June,9,162159,0.07,Jefferson,Wright,AR,72182,South
39,766610,Ms.,Joyce,F,joyce.jenkins@aol.com,NaN,NaN,8/22/1961,55.97,44,...,5,May,14,119321,0.13,Pierce,Ellsworth,WI,54011,Midwest
40,923947,Ms.,Mary,F,mary.bryant@verizon.net,NaN,NaN,6/21/1962,55.14,45,...,5,May,20,155442,0.04,Iowa,Conroy,IA,52220,Midwest
41,227922,Hon.,Amanda,F,amanda.hughes@rediffmail.com,NaN,NaN,7/29/1982,35.02,40,...,4,April,19,114257,0.22,Calcasieu,Lake Charles,LA,70605,South
42,265813,Hon.,Jack,M,jack.campbell@gmail.com,NaN,NaN,1985-04-01 00:00:00,32.58,50,...,7,July,29,186280,0.23,Kalvesta,Kalvesta,KS,67856,Midwest
43,247137,Mr.,Alan,M,alan.rivera@apple.com,NaN,NaN,1978-11-12 00:00:00,38.65,80,...,6,June,7,154810,0.12,Knox,Knoxville,TN,37901,South
44,407061,Ms.,Elizabeth,F,elizabeth.jackson@aol.com,NaN,NaN,8/15/1964,52.99,56,...,1,January,19,85420,0.24,Strafford,Rochester,NH,3867,Northeast
45,226714,Drs.,Nancy,F,nancy.davis@ibm.com,NaN,NaN,11/14/1983,33.73,52,...,8,August,25,94986,0.11,Clay,Bowling Green,IN,47833,Midwest
46,702813,Mr.,Ernest,M,ernest.martinez@gmail.com,NaN,NaN,1989-09-11 00:00:00,27.73,53,...,1,January,24,172098,0.08,Crawford,Uniontown,AR,72955,South
47,524896,Ms.,Judy,F,judy.hernandez@gmail.com,NaN,NaN,3/25/1961,56.38,40,...,12,December,27,133332,0.30,Shawnee,Topeka,KS,66606,Midwest
48,363065,Drs.,Nancy,F,nancy.jones@gmail.com,NaN,NaN,1993-10-11 00:00:00,23.73,60,...,10,October,16,61924,0.04,New York,New York City,NY,10087,Northeast

## 1.From the employee dataset provided print first and last five rows

_____

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

##  2.Find person who joined after 2000

****

In [2]:
for index,row in df.iterrows():
    if row["Year of Joining"]>2000:
        print(row["First Name"])

Lois
Brenda
Joe
Benjamin
Patrick
Nancy
Diana
Ralph
Jack
Melissa
Wayne
Joshua
Theresa
Julia
Carol
Matthew
Joan
Ruby
Carolyn
Anne
Daniel
Roger
Lillian
Amy
Gregory
Roy
Richard
Donna
Carl
Joyce
Mary
Amanda
Jack
Alan
Elizabeth
Nancy
Ernest
Judy
Nancy

## 3.Find person who is drawing salary more than 1 lakh
_____

In [3]:
for index,row in df.iterrows():
    if row["Salary"]>100000:
        print(row["First Name"])

Lois
Diane
Benjamin
Frances
Ralph
Melissa
Paula
Joshua
Theresa
Julia
Joan
Ruby
Anne
Daniel
Roger
Amy
Gregory
Roy
Richard
Mary
Donna
Carl
Joyce
Mary
Amanda
Jack
Alan
Ernest
Judy

## 4.Find person who are from mid east region
____

In [4]:
#no one from mideast in case the question meant midwest
print("THE PEOPLE OF MIDWEST\n")
for index,row in df.iterrows():
    if row["Region"]=="Midwest":
        print("\t",row["First Name"])

THE PEOPLE OF MIDWEST

	 Joe
	 Benjamin
	 Patrick
	 Carol
	 Ralph
	 Melissa
	 Wayne
	 Joshua
	 Theresa
	 Thomas
	 Joan
	 Anne
	 Daniel
	 Roy
	 Aaron
	 Joyce
	 Mary
	 Jack
	 Nancy
	 Judy

##  5.Print employee details with his name ,email id, date of joining and his salary

______

In [5]:
df[["Name Prefix","First Name","E Mail","Date of Joining","Salary"]]

,Name Prefix,First Name,E Mail,Date of Joining,Salary
0,Drs.,Lois,lois.walker@hotmail.com,11/24/2003,168251
1,Ms.,Brenda,brenda.robinson@gmail.com,7/27/2008,51063
2,Dr.,Joe,joe.robinson@gmail.com,2016-03-08 00:00:00,50155
3,Drs.,Diane,diane.evans@yahoo.com,4/16/1999,180294
4,Mr.,Benjamin,benjamin.russell@charter.net,7/25/2013,117642
5,Mr.,Patrick,patrick.bailey@aol.com,7/22/2005,72305
6,Ms.,Nancy,nancy.baker@bp.com,9/14/2016,98189
7,Mrs.,Carol,carol.murphy@gmail.com,1/28/1983,60918
8,Hon.,Frances,frances.young@gmail.com,4/27/1994,121587
9,Hon.,Diana,diana.peterson@hotmail.co.uk,2/17/2014,43010
10,Mr.,Ralph,ralph.flores@yahoo.com,4/14/2009,118457
11,Prof.,Jack,jack.alexander@gmail.com,2017-05-01 00:00:00,82965
12,Mrs.,Melissa,melissa.king@comcast.net,11/24/2015,166892
13,Hon.,Wayne,wayne.watson@gmail.com,7/19/2017,92758
14,Mrs.,Cheryl,cheryl.scott@gmail.com,11/26/1990,92220
15,Hon.,Paula,paula.diaz@gmail.com,8/22/1994,152654
16,Mr.,Joshua,joshua.stewart@yahoo.ca,2002-02-09 00:00:00,184896
17,Ms.,Theresa,theresa.lee@gmail.com,1/19/2015,197537
18,Hon.,Julia,julia.scott@apple.com,2/23/2005,141518
19,Mr.,Thomas,thomas.lewis@gmail.com,1998-07-06 00:00:00,73862
20,Ms.,Carol,carol.edwards@msn.com,4/25/2016,93967
21,Prof.,Matthew,matthew.turner@gmail.com,2016-07-02 00:00:00,52237
22,Hon.,Joan,joan.stewart@yahoo.com,12/30/2009,111673
23,Mrs.,Ruby,ruby.rogers@gmail.com,8/30/2013,160623
24,Ms.,Carolyn,carolyn.hayes@hotmail.co.uk,2001-03-07 00:00:00,42005
25,Mrs.,Anne,anne.russell@ibm.com,11/24/2013,103160
26,Hon.,Daniel,daniel.cooper@yahoo.com,2014-06-03 00:00:00,153790
27,Mr.,Roger,roger.roberts@gmail.com,1/29/2009,129625
28,Drs.,Maria,maria.walker@microsoft.com,1998-01-10 00:00:00,48944
29,Ms.,Brenda,brenda.butler@gmail.com,8/20/1987,60508
30,Hon.,Lillian,lillian.brown@aol.com,4/13/2015,67251
31,Ms.,Amy,amy.howard@aol.com,2003-01-06 00:00:00,112715
32,Mr.,Gregory,gregory.edwards@outlook.com,9/30/2015,169245
33,Mr.,Roy,roy.griffin@yahoo.com,8/23/2012,170895
34,Prof.,Richard,richard.mitchell@verizon.net,8/18/2016,122226
35,Hon.,Mary,mary.wilson@sbcglobal.net,12/22/1991,109394
36,Mr.,Aaron,aaron.price@bp.com,1997-03-07 00:00:00,54402
37,Ms.,Donna,donna.brown@aol.com,7/17/2013,129836
38,Hon.,Carl,carl.collins@yahoo.com,2007-09-06 00:00:00,162159
39,Ms.,Joyce,joyce.jenkins@aol.com,5/14/2010,119321
40,Ms.,Mary,mary.bryant@verizon.net,5/20/2004,155442
41,Hon.,Amanda,amanda.hughes@rediffmail.com,4/19/2007,114257
42,Hon.,Jack,jack.campbell@gmail.com,7/29/2007,186280
43,Mr.,Alan,alan.rivera@apple.com,2006-07-06 00:00:00,154810
44,Ms.,Elizabeth,elizabeth.jackson@aol.com,1/19/2005,85420
45,Drs.,Nancy,nancy.davis@ibm.com,8/25/2012,94986
46,Mr.,Ernest,ernest.martinez@gmail.com,1/24/2016,172098
47,Ms.,Judy,judy.hernandez@gmail.com,12/27/2011,133332
48,Drs.,Nancy,nancy.jones@gmail.com,10/16/2015,61924

##  6.Sort employee name according to his salary

______

In [6]:
# iterating through the sorted dataframe
for index,row in df.sort_values(["Salary","First Name"]).iterrows():
    print(row["First Name"])

Carolyn
Diana
Maria
Joe
Brenda
Matthew
Aaron
Brenda
Carol
Nancy
Lillian
Patrick
Thomas
Jack
Elizabeth
Cheryl
Wayne
Carol
Nancy
Nancy
Anne
Mary
Joan
Amy
Amanda
Benjamin
Ralph
Joyce
Frances
Richard
Roger
Donna
Judy
Julia
Paula
Daniel
Alan
Mary
Ruby
Carl
Melissa
Lois
Gregory
Roy
Ernest
Diane
Joshua
Jack
Theresa

##  7.Sort employee name according to his age

______

In [ ]:
# iterating through the sorted dataframe
for index,row in df.sort_values(["Age in Yrs.","First Name"]).iterrows():
    print(row["First Name"])

##  8.Print female and male employee details separetely


__________________

In [ ]:
#male employee details
df.loc[df.Gender =="M"]

In [ ]:
#female employee details
df.loc[df.Gender=="F"]